In [ ]:
!pip3 install ktrain

In [ ]:
import os.path
import numpy as np
import tensorflow as tf
import ktrain
import pandas as pd
from ktrain import text
import zipfile

In [ ]:
zip = zipfile.ZipFile('train.tsv.zip')
zip.extractall()

In [ ]:
zip = zipfile.ZipFile('test.tsv.zip')
zip.extractall()

In [ ]:
df_train=pd.read_csv('train.tsv',sep='\t',nrows=2500)
df_train=df_train.dropna(how='any')
df_train=df_train.drop(columns=['PhraseId','SentenceId'])
df_train

                                                 Phrase  Sentiment
0     A series of escapades demonstrating the adage ...          1
1     A series of escapades demonstrating the adage ...          2
2                                              A series          2
3                                                     A          2
4                                                series          2
...                                                 ...        ...
2495                                              empty          1
2496                                           theatres          2
2497                          graced with its company .          2
2498                            graced with its company          2
2499                                             graced          3

[2500 rows x 2 columns]

In [ ]:
df['Sentiment'].unique()

array([1, 2, 3, 4, 0])

In [ ]:
(x_train, y_train), (x_test, y_test), preproc =  text.texts_from_df(train_df=df_train,text_column='Phrase',label_columns ='Sentiment',val_df=df_train,maxlen=400,preprocess_mode='bert')

['Sentiment_0', 'Sentiment_1', 'Sentiment_2', 'Sentiment_3', 'Sentiment_4']
   Sentiment_0  Sentiment_1  Sentiment_2  Sentiment_3  Sentiment_4
0          0.0          1.0          0.0          0.0          0.0
1          0.0          0.0          1.0          0.0          0.0
2          0.0          0.0          1.0          0.0          0.0
3          0.0          0.0          1.0          0.0          0.0
4          0.0          0.0          1.0          0.0          0.0
['Sentiment_0', 'Sentiment_1', 'Sentiment_2', 'Sentiment_3', 'Sentiment_4']
   Sentiment_0  Sentiment_1  Sentiment_2  Sentiment_3  Sentiment_4
0          0.0          1.0          0.0          0.0          0.0
1          0.0          0.0          1.0          0.0          0.0
2          0.0          0.0          1.0          0.0          0.0
3          0.0          0.0          1.0          0.0          0.0
4          0.0          0.0          1.0          0.0          0.0
preprocessing train...
language: en

Is Multi-Label? False
preprocessing test...
language: en

In [ ]:
model = text.text_classifier(name='bert',
                             train_data=(x_train, y_train),
                             preproc=preproc)

Is Multi-Label? False
maxlen is 400
done.

In [ ]:
learner = ktrain.get_learner(model=model,
                             train_data=(x_train, y_train),
                             val_data=(x_test, y_test),
                             batch_size=6)

In [ ]:
learner.fit_onecycle(lr=2e-5,
                     epochs=1)

begin training using onecycle policy with max lr of 2e-05...
417/417 [==============================] - 11349s 27s/step - loss: 1.1375 - accuracy: 0.5422 - val_loss: 0.5901 - val_accuracy: 0.7728